.messages{
  word-wrap: break-word;
  width: 35%;
}

.Error{
    color: red;
    font-size: 16px;  
    word-wrap: break-word;
    margin:0 0 0 10px;
    padding-top: 15px;
}

.container{
    background-color: white;
    border-radius: 20px;
    height: 650px;
    width: 70%;
    padding: 20px;
    margin: 50px auto 0 auto;
    display: flex;
    clear: both;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.form-container{
  width: 65%;
  display: flex;
  flex-wrap: wrap;

}



.col-25 {
    float: left;
    width: 175px;
    text-align: left;
    height:40px;
    margin-top: 6px;
    margin-right: 10px;
    color: red;
  }
  
.col-75 {
    float: right;
    width: 250px;
    height: 40px;
    margin-top: 5px;
}


input[type=text],input[type=password],input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    line-height: 16px;
}

label {
    color: black;
    height: 41.3px;
}

input[type=submit] {
    background-color: #0095ff;
    border: 1px solid transparent;
    height: fit-content;
    margin: 10px 10px;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    outline: none;
    padding: 7px .8em;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    float: right;
}

input[type=submit]:hover,
input[type=submit]:focus {
  background-color: #07c;
}

input[type=submit]:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

input[type=submit]:active {
  background-color: #0064bd;
  box-shadow: none;
}