body{
    color: black;
}

a {
    text-decoration: underline;
    color: blue;
}

.container{
    background-color: white;
    width: 75%;
    border-radius: 20px;
    margin: 50px auto 0 auto;
    padding: 20px;
    display: flex;
    height: 75%;
}

.container-1{
    width: 45%;
}

.container-2{
    width: 45%;
    margin-left: auto;
}

.row{
    width: 90%;
    height: fit-content;
    margin-bottom: 20px;
    float: left;
}

.Container-title{
    text-align: center;
    font-size: large;
    margin-bottom: 10px;
}

.row-2{
    font-size: 16px;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    padding-left: 20px;
}

.condition-container{
    height: 340px;
    border: 3px solid grey;
    overflow: auto;
    overflow-x:hidden;
}

.Treatment-headings{
    text-decoration: underline;
}

form{
    height: fit-content;
    margin:15px 0px 15px 0px;
    text-align: center;
}

.Suggestion{
    margin: 0px 0px 10px 0px;
}
