.study-container{
    color: black;
    max-width: 1100px;
    padding: 5px 15px 15px 15px;
    border-radius: 15px;
    min-height: 400px;
    height: fit-content;
    background-color: white;
    margin: 50px auto 0 auto;
    display: flex;
    clear: both;
    flex-wrap:wrap;
}

.search{
    padding-top:40px;
    padding-right: 400px;
    height:50px;
    width: 400px;
    padding-left: 35%;
    margin-bottom: 20px;
    clear: both;
}

form{
  width: 400px;
}


.input-bar{
    height: 36px;
    margin: 10px auto;
    background-position: 0px -2px;
    background-repeat: no-repeat;
    background-image: url("../Images/search.png");
    background-size:25px;
    background-position: 5px;
    font-size: 15px;  
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding-left: 35px;
    /* Adds a pencil image to the search bar as well as transition animation for when it is focused on */
}


.input-button {
  background-color: #ffffff;
  border: 2px solid #2367e6;
  border-radius: 20px;
  box-shadow: #2367e6 1px 1px 0 0;
  color: #2367e6;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  width: 55px;
  text-align: left;
  touch-action: manipulation;
}

.input-button:hover {
  background-color: #cfcbcb;
}

.input-button:active {
  box-shadow: #2367e6 1px 1px 0 0;
  transform: translate(1px, 1px);
}


.study{
  width: 90%;
  background-color: rgb(174, 172, 172);
  padding: 20px;
  margin: 20px auto 0 auto;
  display: block;
  border-radius: 5px;
}

.study:after{
  clear: both;
  content: "";
  display: table;
}

