{% extends 'base.html' %}
{% block head %}
    <title>Appointments</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/calendar.css')}}" />  
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.1/index.global.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            nowIndicator: true,
            now: $.now(),
            editable:true,
            eventResizableFromStart: true,
            dayMaxEventRows:true,
            headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: [{% for appointment in pending_appointments %}{ id : '{{appointment.AppointmentID}}', 
                title : 'Pending',
                color : 'red',
                start : '{{appointment.Start_Date}}', 
                end : '{{appointment.End_Date}}',
                display: 'block', }, 
            {% endfor %}{% for appointment in booked_appointments %}{ id : '{{appointment.AppointmentID}}', 
                {% if current_user.UserID == appointment.DoctorID %}
                    title : 'Booked with {{Patient_info[loop.index0][1]}}.{{Patient_info[loop.index0][0]}}',
                    color : 'green'
                {% else %}
                    title : 'Unavailable - booked',
                    color : 'grey'
                {% endif %}, 
                start : '{{appointment.Start_Date}}', 
                end : '{{appointment.End_Date}}',
                display: 'block', }, 
            {% endfor %}],

            eventClick: function(eventClickInfo ){
                if(eventClickInfo.event.title == 'Pending'){
                    if(confirm("Are you sure you want to take this appointment?")){
                        var id = eventClickInfo.event.id
                        $.ajax({
                            url:"/take_appointment",
                            type:"POST",
                            data:{id:id},
                            success:function(){
                                alert("You have taken the appointment, Please resize the event");
                                window.location.replace("/Appointments") 
                            }
                        })
                    }
                } else if(eventClickInfo.event.title.includes("Booked with")){
                    if(confirm("Are you sure you want to cancel this appointment?")){
                        var id = eventClickInfo.event.id
                        $.ajax({
                            url:"/Delete_Appointment",
                            type:"POST",
                            data:{id:id},
                            success:function(){
                                alert("Event removed");
                                window.location.replace("/Appointments") 
                            }
                        })    
                    }
                }
            },

            eventAllow: function(dropInfo, draggedEvent) {
                if (draggedEvent.title.includes("Booked with")) {
                    return true;
                }
                else {
                    return false;
                }
            },

            eventResize:function(eventResizeInfo){
                if(eventResizeInfo.event.start >= $.now()){
                    if(confirm("Are you sure you want to resize the appointment?")){ 
                        var start_date = eventResizeInfo.event.start
                        var end_date = eventResizeInfo.event.end
                        var current_user_ID = {{ current_user.UserID }}
                        var Appointment_ID = eventResizeInfo.event.id
                        $.ajax({
                            url:"/Update_Appointment",
                            type:"POST",
                            data:{start_date:start_date, end_date:end_date, current_user_ID:current_user_ID, Appointment_ID:Appointment_ID},
                            success:function(data)
                            {
                                alert("Updated Successfully")
                            },
                            error:function(XMLHttpRequest, textStatus, errorThrown){
                                eventResizeInfo.revert()
                                alert("Error encountered")
                            }
                        })
                    } else {
                        eventResizeInfo.revert();
                    }
                } else {
                    eventResizeInfo.revert()
                }
            },

            eventDrop:function(eventDropInfo){
                if(eventDropInfo.event.start >= (new Date().setHours(0, 0, 0, 0)) && eventDropInfo.oldEvent.start >= (new Date().setHours(0, 0, 0, 0))){
                    if(confirm("Are you sure you want to move the appointment?")){ 
                        var start_date = eventDropInfo.event.start
                        var end_date = eventDropInfo.event.end
                        var current_user_ID = {{ current_user.UserID }}
                        var Appointment_ID = eventDropInfo.event.id
                        $.ajax({
                            url:"/Update_Appointment",
                            type:"POST",
                            data:{start_date:start_date, end_date:end_date, current_user_ID:current_user_ID, Appointment_ID:Appointment_ID},
                            success:function(data)
                            {
                                alert("Updated Successfully")
                            },
                            error:function(XMLHttpRequest, textStatus, errorThrown){
                                eventDropInfo.revert()
                                alert("Error encountered")
                            }
                        })
                    } else {
                        eventDropInfo.revert();
                    }
            } else{
                eventDropInfo.revert();
                }
            }
            });
        calendar.render();
      });
    </script>

{% endblock %}

{% block body %}
    <div class="container">
        <div id='calendar'></div>
    </div>
{% endblock %}