<!-- A 'base' template for all other pages -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}" />  
        {% block head %}{% endblock %}  
    </head>
    <body>
        <div class="navbar">
            <a class="navbar-brand" href="/">Symplist</a>
            {% if current_user.is_authenticated %}
                <a class="nav-button" href="/logout">Log Out</a>
            {% else %}
                <a class="nav-button" href="login">Get Started</a>
            {% endif %}
            <a class="nav-heading" href="/research">Research</a>
            {% if current_user.is_authenticated %}
                <a class="nav-heading" href="">Booking</a>
            {% endif %}
        </div>
        <!-- Creates a simple navigation bar -->
        {% block body %}{% endblock %}  
    </body>
</html>
