{% extends 'base.html' %}

{% block head %}
    <title>Symplist</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/index.css')}}" /> 
{% endblock %}

{% block body %}
    {% if current_user.is_authenticated  %}
        {% if role %}
            <p>Hi {{ current_user.First_Name }}</p>
            <p>Your role is: {{role.name}}</p>
        {% endif %}
    {% endif %}
    <img src="{{url_for('static', filename = 'Images/Logo.png')}}" alt="Logo" />
    <div class="content">
        
    </div>
{% endblock %}
