{% extends 'base.html' %}

{% block head %}
    <title>Register</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/register.css')}}" />
{% endblock %}

{% block body %}
    <div class="form-container">
        <form action="#" method="POST">
            {% for field in form %} 
                {% if field.type == "SubmitField" or field.type == "CSRFTokenField" %}
                    <div class="row">
                        <div class="col-75">
                            <td>{{ field (class_='input-form')}}</td>
                        </div> 
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-75">
                            <td>{{ field (class_='input-form')}}</td>
                        </div> 
                        <div class="col-25">
                            {{ field.label }} {% if field.flags.required %}*{% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %} 
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <p class="Error">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

{% endblock %}

