{% extends 'base.html' %}

{% block head %}
    <title>Studies</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/studies.css')}}" />  
{% endblock %}
    
{% block body %}
<div class="study-container">
    <div class="search">
        <form action="" method="POST">
        {{ Studies_Form.hidden_tag()}}
        {{ Studies_Form.Study_Topic(class_='input-bar')}}
        {{ Studies_Form.Submit (class_='input-button')}}
        </form>
        {% if Corrected_Study %}
        <p class="Suggestion">Did you mean <a href="./studies?Study={{Corrected_Study}}">{{Corrected_Study}}</a></p>
        {% endif %}
    </div>
    {% if Studies %}
        {% for study in Studies%}
            <div class="study">
                <a style="text-decoration: none; color: black;" href="./studies?pmcid={{study[1]}}">
                    <h2>{{ study[0][0]['text'] }}</h2>
                    <p>
                        {% for index in range (30)%}
                            {{ study[0][1]['text'].split(' ')[index] }}
                        {% endfor %}
                        ...
                    </p>
                </a>
            </div>
        {% endfor %}
    {% else %}
    <h2>No Results</h2>
    {% endif %}
</div>
{% endblock %}